smart_home_test_workflow.json
[
    {
        "id": "tab1",
        "type": "tab",
        "label": "Smart Home Workflow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "motion_inject",
        "type": "inject",
        "z": "tab1",
        "name": "Simulate motion detected",
        "props": [
            {
                "p": "payload"
            }
        ],
        "payload": "motionDetected",
        "payloadType": "str",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "motion_function"
            ]
        ]
    },
    {
        "id": "motion_function",
        "type": "function",
        "z": "tab1",
        "name": "Handle motion event",
        "func": "msg.actions = [];\nmsg.actions.push({device: 'SmartAssistant', action: 'say', phrase: 'Motion detected in the room!'});\nmsg.actions.push({device: 'LEDs', action: 'blink'});\nmsg.actions.push({device: 'Speaker', action: 'setVolume', percentage: 70});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 100,
        "wires": [
            [
                "debug_actions"
            ]
        ]
    },
    {
        "id": "debug_actions",
        "type": "debug",
        "z": "tab1",
        "name": "Actions triggered",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 700,
        "y": 100,
        "wires": []
    }
]