agent-python/workflow_mcp.json
[
    {
        "id": "poll-washing-machine",
        "type": "inject",
        "z": "flow1",
        "name": "Poll finishedCycle event",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "http-get-finishedCycle"
            ]
        ]
    },
    {
        "id": "http-get-finishedCycle",
        "type": "http request",
        "z": "flow1",
        "name": "Get finishedCycle event",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://localhost:3000/washingmachine/events/finishedCycle",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 400,
        "y": 100,
        "wires": [
            [
                "check-event"
            ],
            [
                "handle-error"
            ]
        ]
    },
    {
        "id": "check-event",
        "type": "switch",
        "z": "flow1",
        "name": "Check if cycle finished",
        "property": "payload.finished",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 100,
        "wires": [
            [
                "http-post-blink"
            ]
        ]
    },
    {
        "id": "http-post-blink",
        "type": "http request",
        "z": "flow1",
        "name": "Call LEDs blink action",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://localhost:3000/leds/actions/blink",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 900,
        "y": 100,
        "wires": [
            [
                "log-success"
            ],
            [
                "handle-error"
            ]
        ]
    },
    {
        "id": "handle-error",
        "type": "debug",
        "z": "flow1",
        "name": "Error Handler",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "error",
        "statusType": "red",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "log-success",
        "type": "debug",
        "z": "flow1",
        "name": "Blink Success",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "blinked",
        "statusType": "green",
        "x": 1150,
        "y": 100,
        "wires": []
    }
]