agent-python/workflow_vanilla.json
[
  {
    "id": "1a2b3c4d5e6f7g8h",
    "type": "http request",
    "z": "flow1",
    "name": "Subscribe finishedCycle",
    "method": "POST",
    "ret": "txt",
    "paytoqs": false,
    "url": "http://localhost:8082/washingmachine/events/finishedCycle",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 160,
    "y": 100,
    "wires": [
      [
        "2b3c4d5e6f7g8h9i"
      ]
    ]
  },
  {
    "id": "2b3c4d5e6f7g8h9i",
    "type": "http in",
    "z": "flow1",
    "name": "Receive finishedCycle event",
    "url": "/washingmachine/events/finishedCycle",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 160,
    "wires": [
      [
        "3c4d5e6f7g8h9i0j"
      ]
    ]
  },
  {
    "id": "3c4d5e6f7g8h9i0j",
    "type": "function",
    "z": "flow1",
    "name": "Prepare blink action",
    "func": "msg.method = 'POST';\nmsg.url = 'http://localhost:8083/leds/actions/blink';\nmsg.payload = {};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 160,
    "wires": [
      [
        "4d5e6f7g8h9i0j1k"
      ]
    ]
  },
  {
    "id": "4d5e6f7g8h9i0j1k",
    "type": "http request",
    "z": "flow1",
    "name": "Invoke LEDs blink",
    "method": "POST",
    "ret": "txt",
    "paytoqs": false,
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 620,
    "y": 160,
    "wires": [
      [
        "5e6f7g8h9i0j1k2l"
      ]
    ]
  },
  {
    "id": "5e6f7g8h9i0j1k2l",
    "type": "switch",
    "z": "flow1",
    "name": "Check blink response",
    "property": "statusCode",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "200",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 840,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "errorHandler",
    "type": "catch",
    "z": "flow1",
    "name": "Error Handler",
    "scope": null,
    "uncaught": false,
    "x": 160,
    "y": 220,
    "wires": [
      [
        "logError"
      ]
    ]
  },
  {
    "id": "logError",
    "type": "debug",
    "z": "flow1",
    "name": "Log Error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "error",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 360,
    "y": 220,
    "wires": []
  }
]